@import "reset.css";

@font-face {
  font-family: "FUTURA Reg";
  font-weight: auto;
  src: url(font/FuturaBookC.ttf)
  format('truetype');
}
@font-face {
  font-family: "FUTURA BOLD";
  font-weight: auto;
  src: url(font/FuturaDemiC.ttf)
  format('truetype');
}
@font-face {
  font-family: "Five years";
  font-weight: auto;
  src: url(font/FYLDemo.otf)
  format('opentype');
}
@font-face {
  font-family: "Hagrid Regular";
  font-weight: auto;
  src: url(font/Hagrid-Regular.ttf)
  format('truetype');
}

:root {
  --orange: #E26B13;
}

body{
  overflow-x: hidden;
  background-color: #000;
}
h1, h2, p, li, a{
 color: #fff;
}
h1{
  font-size: 3vw;
  font-family: "FUTURA BOLD", helvetica, sans-serif;
}
h2{
  font-size: 2vw;
  font-family: "FUTURA BOLD", helvetica, sans-serif;
}
p, li{
  font-size: 1.3vw;
    font-family: "FUTURA reg", helvetica, sans-serif;
}
a, h3{
  font-size: 1.5vw;
  font-family: "Five years", helvetica, sans-serif;
  text-decoration: none;
}

ul li{
  list-style-type: none;
}
header{
  position: absolute;
  margin: 3vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}
header img{
  width: 20vw;
}
header nav{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-left: 6vw;

}
header nav a{
  margin-left: 10vw;
}
header nav a:hover{
  color: var(--orange);
}


footer{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 10vw;
}
footer ul li{
  padding-top: 1vw;
}
footer > img{
  position: absolute;
  z-index: -2;
  margin-left: 70vw;
  margin-top: -20vw;
  width: 30vw;
}
footer .third-column img{
  height: 2vw;
  width: auto;
  padding-left: 1vw;
}
